html, body {
  overflow-x: hidden; 
  scroll-snap-type: y mandatory;
  height: 100vh;
  margin: 0;
  body {
scrollbar-width: thin;
scrollbar-color: #EB5A94 #fff;
}
}

#waveCanvasMirror {
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flipped {
transform: scaleY(-1);
}


#page3 {
  background-color: #EB5A94;
  transform: scaleY(-1);
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.block {
position: absolute; 
top: 50; 
left: 82; 
width: 90%; 
height: 80%; 
background-color: #FFD5E5; 
opacity: 50%;
border-radius: 20px; 
z-index: 5; 

}


.welcome-text {
color: #EB5A94;
position: relative;
font-family: 'Rubik Vinyl', sans-serif;
font-size: 46px;
font-weight: bold;
text-align: center;
top: 37px;
left: 2%;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
animation: breathe 2s ease-in-out infinite alternate; 
}


.text {
  color: #fff;
  position: relative;
  font-family: 'Rubik Vinyl', sans-serif;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  top: -60%;
  left: 2%;
  z-index: 10;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  animation: breathe 2s ease-in-out infinite alternate; 
  transform: rotate(180deg);
  
}


.text1 {
  color: #EB5A94;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  top: 0%;
  left: 2%;
  z-index: 10;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: rotate(180deg);
  transform: scaleY(-1);
}




@keyframes breathe {
0% {
transform: scale(1); 
}
100% {
transform: scale(1.05); 
  }
}

.scroll-down {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  cursor: pointer;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}

.top-image {
  position: fixed;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0; 
  animation: sway 5s infinite alternate ease-in-out; 
}

@keyframes sway {
  0% {
    transform: translate(-50%, -50%) rotate(-3deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(3deg);
  }
}
.overlay {
  position: absolute; 
  top: 50; 
  left: 82; 
  width: 90%; 
  height: 80%; 
  background-color: #FF8DBA; 
  opacity: 50%;
  border-radius: 20px; 
  z-index: 5;
  }
  
  .hidden {
  position: absolute; 
  top: 50; 
  left: 82; 
  width: 90%; 
  height: 80%; 
  background-color: #fff; 
  border-radius: 20px; 
  z-index: -1; 
  }
  
  .image {
  position: fixed;
  transform: rotate(180deg);
  transform: scaleY(-1);
  width: 400px;
  z-index: 10;
  left: 0%;
  bottom: 0%;
  }
  .flipped {
    transform: rotateY(180deg);
  }
   /* весь контейнер поддерживает перспективу */
.flip-container {
	perspective: 1000;
}
	/* переверните сторону при проведении мышью */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
  position: fixed;
	width: 429px;
	height: 496px;
  top: 35%;
  left: 30%;
  z-index: 10;
}

/* здесь находится скорость перевертывания */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* скройте обратную сторону во время переворота */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* лицевая сторона размещена над обратной */
.front {
    border-radius: 20px;
    background-color: #fff;
	z-index: 2;
}

/* обратная, изначально скрытая сторона */
.back {
    border-radius: 20px;
    background-color: #FFf;
	transform: rotateY(180deg);
}
.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
	transform: rotateY(180deg);
}


#flip2 {
  left: calc(30% + 26.4%); /* Сдвигаем на ширину первого блока и немного отступа */
}

.block-links {
  position: fixed;
  background-color: #FFf;
  width: 933px;
  height: 200px;
  top: 12%;
  left: 30%;
  border-radius: 20px;
  z-index: 10;
}